[submodule "dependencies/cpp-httplib"]
	path = dependencies/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "dependencies/cpp-dotenv"]
	path = dependencies/cpp-dotenv
	url = https://github.com/adeharo9/cpp-dotenv.git
[submodule "dependencies/nlohmann/json"]
	path = dependencies/nlohmann/json
	url = https://github.com/nlohmann/json.git
